


body{

    background-color: hsl(318, 91%, 21%);
}

h1{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 5px 5px black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */


header{
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hacia la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto horizontalmente dentro del div */
}


@media (max-width: 767px){

    header{
        display:inline-block;
    }
    
    h1{
        font-size: 40px;
    }
  
  }


/* NAV */


/* barra de navegacion*/
.navbar {
    list-style-type: none; /*Elimina los puntos de la lista no ordenada*/
    background-color: hsl(0, 0%, 0%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100px;
  
  }
  
  /* Crea espacio entre los elementos de la lista*/
  .navbar li{
    margin: 60px;
    margin-top: 0px;
    float: left;
  }
  
  /* Texto de la barra de navegacion*/
  .navbar a{
    color: hsl(0, 0%, 100%);
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
  }
  
  /* Color al seleccionar una opcion de la navegacion*/
  .navbar a:hover{
    background-color: hsl(352, 64%, 36%);
  }
  
  ul li {
    display: block;
    margin-bottom: 10px; /* Espacio entre los elementos */
  }
  
  
    /* Texto de la barra de navegacion*/
    .navbar a{
        color: hsl(0, 0%, 100%);
        display: block;
        text-align: center;
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif
    }
  
  
  ul li {
    display: block;
    margin-bottom: 0px; /* Espacio entre los elementos */
  }

  @media (max-width: 767px){

    .navbar a{
        font-size: 13px;
    }
  
    .navbar li{
        margin: 7px;
    }
  
    .navbar {
        height: 50px;
    
    }
  
  }
  
  @media (min-width: 1280px) and (max-width: 1439px){
  
    .navbar a{
        font-size: 50px;
    }
  
    .navbar li{
        margin: 30px;
    }
  
    .navbar {
        height: 120px;
    
    }
  
  }


  /* FOOTER */

  footer{
  
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-bottom: 0px;
    padding: 20px;
    flex-shrink: 0; /* Evita que el footer se encoja cuando hay poco contenido */
  }
  
  
  main{
  
    flex: 1;
  }
  